.map-element {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

.controls {
	z-index: 100;
	height: 300px;
	width: 300px;
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 20px;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 4px;
}

.number-input {
	width: 100px;
}

.control-label {
	width: 200px;
}

.control-option {
	display: flex;
	gap: 10px;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	min-height: 50px;
}

.geo-ref-button {
	justify-content: flex-end;
	margin-top: 20px;
}
